:root {
  display: flex;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 10, 10);
}



.CardDiv {
  display: inline-block;
  height: fit-content;
  margin-left: 20%;
  
}


.buttonDiv {
  margin: auto;
  width: fit-content;
  margin-top: 10px;
}

.buttonDiv button {
  background-color: rgb(244, 222, 222);
  margin: 5px;
}

.a {
  height: 100vh;
  flex-direction: column;
  margin: auto;
  align-items: center;
  justify-content: center;
  margin-top: 100px;
}
b{
  align-items: center;
}
.title h1 {
  color: white;
  margin-bottom: 20px;
  
} 

.title h3 {
  color: white;
  margin-left: 50px;
}

.title h4 {
  color: white;
  margin-left: 200px;
  margin-bottom: 80px;
}




input {
  border: 2px solid #ccc;
  height: 35px;
  border-radius: 12px;
  margin-top: 20px;
  margin-right: 10px;
  margin-left: 5px;
}

input.invalid {
  border-color: red;
  border-width: 7px;
}

input.valid {
  border-color: green;
  border-width: 10px;
}
.guessInput {
  align-items: center;
  margin: auto;
  
}

.guessInput button{
  color: white;
  background-color: rgb(223, 157, 157);
  border-color: azure;
}

.guessInput label {
  color: white;
  font-size: large;
}

button {
  transition: background-color 0.3s ease-in-out;
}

button:focus,
button:active {
  background-color: #d6a8ab;
  transition: background-color 0.3s ease-in-out;
}

