.card {
    width: 300px;
    background-color: rgb(172, 86, 86);
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    height: 200px;
  }
  
  .card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  
  .card-content {
    padding: 1rem;
  }
  
  .card-content h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  
  .card-content p {
    font-size: 1rem;
    color: rgb(210, 199, 199);
  }
  